<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common(title)">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title th:text="${title}">xixiwan-platform</title>
<link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
<!-- jquery -->
<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<!-- bootstrap -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<!-- bootstrapvalidator -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrapvalidator/css/bootstrapValidator.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/bootstrapvalidator/js/bootstrapValidator.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrapvalidator/js/language/zh_CN.js}"></script>
<!-- jquery-icheck -->
<link rel="stylesheet" th:href="@{/webjars/jquery-icheck/skins/all.css}">
<script type="text/javascript"
	th:src="@{/webjars/jquery-icheck/icheck.min.js}"></script>
<!-- bootstrap-treeview -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap-treeview/bootstrap-treeview.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/bootstrap-treeview/bootstrap-treeview.min.js}"></script>
<!-- moment -->
<script type="text/javascript"
	th:src="@{/webjars/moment/min/moment-with-locales.min.js}"></script>
<!-- bootstrap-datepicker -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap-datepicker/locales/bootstrap-datepicker.zh-CN.min.js}"></script>
<!-- bootstrap-daterangepicker -->
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap-daterangepicker/css/bootstrap-daterangepicker.css}">
<script type="text/javascript"
	th:src="@{/webjars/bootstrap-daterangepicker/js/bootstrap-daterangepicker.js}"></script>
<!-- font-awesome -->
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/css/font-awesome.min.css}">
<!-- dropzone -->
<link rel="stylesheet"
	th:href="@{/webjars/dropzone/dist/min/dropzone.min.css}">
<script type="text/javascript"
	th:src="@{/webjars/dropzone/dist/min/dropzone.min.js}"></script>
<!-- common -->
<script type="text/javascript" th:src="@{/modules/common/common.js}"></script>
<!-- AdminLTE -->
<link rel="stylesheet"
	th:href="@{/modules/AdminLTE/css/AdminLTE.min.css}" />
<link rel="stylesheet"
	th:href="@{/modules/AdminLTE/css/skins/_all-skins.min.css}" />
<script type="text/javascript"
	th:src="@{/modules/AdminLTE/js/adminlte.min.js}"></script>
<script type="text/javascript" th:src="@{/modules/AdminLTE/js/admin.js}"></script>
<!-- bootstrap-table -->
<link rel="stylesheet"
	th:href="@{/modules/bootstrap-table/bootstrap-table.min.css}" />
<script type="text/javascript"
	th:src="@{/modules/bootstrap-table/bootstrap-table.min.js}"></script>
<script type="text/javascript"
	th:src="@{/modules/bootstrap-table/locale/bootstrap-table-zh-CN.min.js}"></script>
<!-- jquery-scrollbar -->
<link rel="stylesheet"
	th:href="@{/modules/jquery-scrollbar/jquery.scrollbar.min.css}" />
<script type="text/javascript"
	th:src="@{/modules/jquery-scrollbar/jquery.scrollbar.min.js}"></script>
<!-- nth-tabs -->
<link rel="stylesheet"
	th:href="@{/modules/nth-tabs/css/nth-tabs.min.css}" />
<link rel="stylesheet"
	th:href="@{/modules/nth-tabs/css/nth-icons.min.css}" />
<script type="text/javascript"
	th:src="@{/modules/nth-tabs/js/nth-tabs.min.js}"></script>
<!-- layer -->
<script type="text/javascript" th:src="@{/modules/layer/layer.js}"></script>
<!-- cropper -->
<link rel="stylesheet" th:href="@{/modules/cropper/cropper.min.css}">
<link rel="stylesheet" th:href="@{/modules/cropper/cropper.layout.css}">
<script type="text/javascript"
	th:src="@{/modules/cropper/cropper.min.js}"></script>
<!-- viewerjs -->
<link rel="stylesheet" th:href="@{/modules/viewerjs/viewer.min.css}">
<script type="text/javascript"
	th:src="@{/modules/viewerjs/viewer.min.js}"></script>
<!-- ckeditor -->
<script type="text/javascript" th:src="@{/modules/ckeditor/ckeditor.js}"></script>
</head>
</html>